.hero {
    background: url(../images/intro-bg.jpg) no-repeat center;
    background-size: cover;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: #fff;
}

.hero:after {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.5);
    position: absolute;
    top: 0;
}

.hero .content {
    position: relative;
    z-index: 1;
}

.course-card img{
    height: 100px;
    object-fit: cover;
}
.card-text{
    height: 50px;
}
